*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-weight:700;
    font-family:Arial, Helvetica, sans-serif;
  }
  
  body{
    background-color:#f2e164;
    display:flex;
    justify-content: center;
    align-items: center;
  }
  
  .app-wrapper{
    background-color: #f2e164;
    box-shadow: 3px  #eeff05bf;
    max-width:400px;
    margin: 10px;
    padding: 10px 20px;
    border:3px solid white;
    border-radius: 10px;
  }
  
  .start-wrapper{
    background-color: #f2e164;
    box-shadow: 3px  #eeff05bf;
    max-width:400px;
    margin: 100px auto;
    padding: 10px 20px;
    border:3px solid white;
    border-radius: 10px;
  }
  

  .question-section-wrapper{
    width:100%;
    position: relative;
    margin-bottom:auto;
  }
  
  .question-count{
    font-size:14px;
    width:fit-content;
    padding:10px;
    margin:10px auto;
    border: 3px solid white;
    border-radius: 15px;
    color:white;
    background-color: dodgerblue;
  }
  
  .question{
    color: white;
    border: 2px solid white;
    background-color:#b4417e;
    border-radius: 15px;
    padding: 10px;
    margin-bottom: 12px;
    font-size: 24px;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align:center;
  }
  
  .answer-section-wrapper{
    background-color: dodgerblue;
    border: 2px solid white;
    border-radius: 15px;
  }
  
  .answer-list{
    list-style:none;
    width: 100%;
    margin: 20px 0px ;
    display: flex;
  }
  
  .answer-button{
    width:90%;
    font-size: 24px;
    color:white;
    background-color: #b4417e;
    border-radius: 15px;
    padding: 5px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .next-button{
    width:fit-content;
    font-size: 30px;
    padding: 5px;
    display:flex;
    justify-content: center;
    color:white;
    background-color: dodgerblue;
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .next-button:hover{
    background-color: #6b7b8c;
  }
  
  .richtig{
    width:fit-content;
    font-size: 20px;
    padding: 10px;
    display:flex;
    justify-content: center;
    color:white;
    background-color: limegreen;
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .falsch{
    width:fit-content;
    font-size: 20px;
    padding: 10px;
    display:flex;
    justify-content: center;
    color:white;
    background-color: rgb(236, 67, 67);
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
    margin: 10px auto;
  }
  
  .answer-button:hover{
    background-color: #6b7b8c;
  }
  
  button:focus{
    outline:none;
  }
  
  .answer-button:active{
    background-color: orange;
  }
  
  .end-wrapper{
    background-color: #f2e164;
    box-shadow: 3px  #eeff05bf;
    max-width:400px;
    margin-top:50%;
    padding: 8px 20px;
    border:3px solid white;
    border-radius: 10px;
  }
  
  .completed{
    display:flex;
    justify-content: center;
    font-size: 40px;
    color:dodgerblue;
    margin: 40px auto;
  }
  
  .repeat{
    font-size:20px;
    padding: 10px;
    display:flex;
    justify-content: center;
    color:white;
    background-color: dodgerblue;
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
    margin: 20px auto;
  }
  
  .score-section{
    display:flex;
    justify-content: center;
    font-size:30px;
    color:dodgerblue;
    margin-bottom:60px;
  }
  
  .correct{
    background-color: limegreen;
  }
  
  
  .slide{
    font-size:24px;
    justify-content: center;
    display:flex;
    align-items: center;
    min-height:15vh;
    border:3px solid white;
    background-color: dodgerblue;
    border-radius: 10px;
    margin: 30% auto;
  }
  
  .btn{
    font-size: 10px;
    padding: 10px;
    display:flex;
    justify-content: center;
    color:white;
    background-color: dodgerblue;
    border-radius: 15px;
    border: 3px solid white;
    cursor: pointer;
    margin-bottom: 20px;
    margin-top:20px;
  }
  
  .arrow{
    font-size: 60px;
    margin:auto;
    display:flex;
    justify-content: center;
    color:white;
    background-color: dodgerblue;
    border: none;
    
  }
  
  .arrow:hover{
    color:#f2e164;
  }
  
  .dotsList{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    
  }
  
  .dots{
    padding: 6px;
    display:inline-flex;
    color:white;
    background-color:dodgerblue;
    border-radius: 50px;
    border: 3px solid white;
    margin:3px;
    cursor:pointer;
  }
  
  .dots-active{
   background-color:#b4417e; 
  }
  
  